<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <form>
        Вам недавно понравилось: <br>
      </form>
      <%= current_user.liked_music.each do |m| %>
      <tr>
        <td><%= m.artist %></td> -
        <td><%= m.songname %></td>; <br>
      </tr>
      <% end %>
    </section>
  </aside>
</div>