<% provide(:title, @music.songname) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @music.artist %> - <%= @music.songname %>          
      </h1>
        <%= if current_user.likes?(Music.find(params[:id])) then 'Вам нравится эта песня' end %>
      <form>
        
        <%= link_to 'Нравится!', likes_path, method: :put,  class: "btn btn-success" %>
        <%= link_to 'Не нравится', dislikes_path, method: :put, class: "btn btn-danger" %>
      </form>
    </section>
  </aside>
</div>