<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "RecommendMe", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li><%= link_to "Музыка", music_index_path %></li>
            <li><%= link_to "Рекомендации", recommendation_path %></li>
            <li><%= link_to "Профиль", current_user %></li>
            <li><%= link_to "Настройки", edit_user_path(current_user) %></li>
            <li><%= link_to 'Популярное', popular_path %></li>
            <li> <%= link_to "Выйти", signout_path, method: "delete" %></li>
        </ul>
          <% else %>
            <li><%= link_to "Войти", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>